/* .container, .col, .row {
    border: 1px solid red;
} */

#wrapper {
    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    font-family: futura-pt, sans-serif;

    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: 0;

    overflow: hidden;
}

li {
    list-style: none;
    /* position:absolute;
    visibility:hidden; */

    width: 100%;
}

li > p {
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}