/* span {
    border: 1px solid red;
} */

#wrapper {
    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    font-family: futura-pt, sans-serif;

    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: 0;

    overflow: hidden;
}

#rss-feed > li {
    list-style: none;
    /* position:absolute;
    visibility:hidden; */

    width: 100%;
}

li > p {
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Weather */

.now.temp {
    font-size: 64px;
    font-weight: 700;
}

.now.icon {
    font-size: 92px;
}

.now.desc {
    font-size: 56px;
    text-transform: capitalize;

}

td {
    font-size: 32px;
    padding: 15px;
}

tr {
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}

table {
    text-align: center;
}