@font-face {
    font-family: Futura;
    src: url("https://cdn.jsdelivr.net/npm/futura-font@1.0.0/FuturaBT-Medium.ttf");
  }

  body {
      background-color: black;
  }

p {
    font-family: "Futura", sans-serif;
    font-size: 56px;
    color: white;
}

p img {
    height: 70px;
    position: relative;
    top: 15px;

    /* filter: invert(100%); */
}

.mask{
    position: absolute;
    top: -125px;
}