body {
    background-color: black;
}

p {
    font-family: futura-pt, sans-serif;
    font-size: 56px;
    color: white;
    text-transform: uppercase;
}

p img {
    height: 70px;
    position: relative;
    top: 15px;

    /* filter: invert(100%); */
}

.mask{
    position: absolute;
    top: -125px;
}